# Byte-compiled / optimized / DLL files
__pycache__/
test/__pycache__
*.py[cod]
*$py.class
.cpython-310.pyc

# C extensions
*.so

# Distribution / packaging
.Python
*.egg
*.egg-info/
.eggs/
.installed.cfg
build/
develop-eggs/
dist/
downloads/
env/
lib/
lib64/
parts/
sdist/
target/
var/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*,cover
.hypothesis/
.htmlcov/
.nosetests.xml
.coverage.xml
.tox/
.pytest_cache

# Virtual environments
venv/
.venv/
.python-version

# Translations
*.mo
*.pot

# Django stuff
*.log

# Sphinx documentation
docs/_build/

# IPython Notebook
.ipynb_checkpoints

# macOS files
.DS_Store
